Package: o3-multipage-osd
Version: 1.1.1
Maintainer: xNuclearSquirrel
Description: Enables multipage OSD support, custom fonts, and OSD recording
Architecture: pigeon-glasses-v2
Depends: wtfos-modloader-o3
Homepage: https://github.com/xNuclearSquirrel/o3-multipage-osd
